@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif; }

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: dimgray; }

h1 {
  font-size: 1.4rem;
  margin: 0.5rem; }

/* Background colors 
slategray
rgb(73, 84, 96)
#353C3f charcoal
#2f3131 coal
*/
